@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewBag.types != null && ViewBag.types.Count == 0)
{
    <i class="fa fa-info-circle fa-5x" style="text-align: center; width: 100%; position: relative; top: 132px; color: #7a7a7a; font-size: 130px;" aria-hidden="true"></i>
    <div style="position: relative; top: 132px; text-align: center; width: 100%; font-size: 19px; color: #7a7a7a; font-weight: bold;">No Task Types To Display</div>
}
else
{
    <h2 style="text-align: center; position: relative; margin: 35px 0;">Manage Task Types</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col" style="text-align:center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.types.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@ViewBag.types[i].Name</td>
                    <td style="text-align:center;">
                        <form id="delete-type-@ViewBag.types[i].Id" method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="DeleteType">
                            <button type="button" data-toggle="modal" data-target="#edit-type" class="btn btn-primary" style="padding: 1px 10px;" onclick="fillType('@ViewBag.types[i].Name', '@ViewBag.types[i].Id')">Edit</button>
                            <input type="hidden" name="Id" value="@ViewBag.types[i].Id" />
                            <button type="button" class="btn btn-danger" style="padding: 1px 10px;" onclick="deleteGeneric('type', '@ViewBag.types[i].Id')">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-type" style="        position: fixed;
        left: 60px;
        bottom: 90px;">
    Add New Type
</button>

<!-- New Type Modal -->
<div class="modal fade" id="new-type" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="CreateType">
                <div class="modal-body" style="width: 362px; margin: auto; position: relative; top: 10px;">
                    <i class="fa fa-info-circle fa-2x" style="position: absolute;left: -27px;top: 20px;"></i>
                    <input required class="form-control" type="text" placeholder="Task-Type Name (eg. feature)" name="Name"><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Type</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Type Modal -->
<div class="modal fade" id="edit-type" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Task-Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="UpdateType">
                <div class="modal-body" style="width: 362px; margin: auto; position: relative; top: 10px;">
                    <i class="fa fa-info-circle fa-2x" style="position: absolute;left: -27px;top: 20px;"></i>
                    <input type="hidden" name="Id" id="type-id" />
                    <input class="form-control" id="type-name" type="text" placeholder="Task-Type Name (eg. feature)" name="Name" required><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Task-Type</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/Admin/type.js"></script>